{% extends "base.html" %}
{% block content %}
<form id="contactForm" data-sb-form-api-token="API_TOKEN" method="POST" action="signup" > 
    {% csrf_token %}
    <div class="form-floating mb-3">
        <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" name="user" required/>
        <label for="name">Masukaan Nickname</label>
        <div class="invalid-feedback" data-sb-feedback="name:required">A Nickname is required.</div>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" name="email" required />
        <label for="email">Email address</label>
        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
    </div>
    <div class="form-floating mb-3">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required> 
        <label for="floatingPassword" >Password</label>  
    </div>
    <div class="form-floating mb-3">
        <input type="password" name="repeatpw" class="form-control" id="floatingPassword" placeholder="Password" required> 
        <label for="floatingPassword" >Confirm Password</label>  
    </div>
    <a href="login" class="text-decoration-none m-3 mb-3">Already Have One?</a>
    <div class="d-grid"><input class="btn btn-primary btn-lg" id="submitButton" type="submit" value="Daftar"></div>

</form>
{% endblock content %}

